/* text styling */
#header {
  color:white;
  text-align:center;
}

#about {
  color:white;
  text-align:center;
}

#body {
 background-color:black; 
}

#contact {
  
}

/* trial box */
#trial {
  width:500px;
  height:500px;
  border:1px solid white;
  margin:auto;
}

/* first block; replace with sprite */
#character {
  width:20px;
  height:50px;
  background-color: powderblue;
  position: relative;
  top:450px;
}

/* obstacle; may remove */
#block {
    width: 20px;
    height: 20px;
    background-color: powderblue;
    position: relative;
    top: 430px;
    left: 480px;
    animation: block 1s infinite linear;
}

/* animation */
@keyframes jump {
  0% {top: 150px;}
  30% {top: 100px;}
  70% {top: 100px;}
  100% {top: 100px;}
}

.animate jump {
  animation: jump 300ms linear;
}

@keyframes block {
    0% {left: 500px} 
    100% {left: -20px}
}
